{% extends 'base.html.twig' %}

{% block title %}
    Task list
{% endblock %}

{% block todo %}
    <div>
        Hello
        {{ user }}. Here are your tasks for today:
    </div>
    {% if taskList is not null and taskList is defined %}

        {% for task in taskList %}
            <div class="taskContent">{{ task }}</div>
        {% endfor %}

    {% else %}
        <div>There has been no task found</div>
    {% endif %}

{% endblock %}
